In [ ]:
import librosa
import librosa.display
import IPython.display as ipd
import numpy as np
from google.colab import drive
import os
import pandas as pd
import pywt
import csv
import os
from glob import glob
import shutil
from scipy.io import wavfile
import matplotlib
import matplotlib.pyplot as plt

In [ ]:
drive.mount('/content/drive')
directory = "/content"
base_path = "/content/drive/MyDrive/Data Tugas Akhir"
N_path = f'{base_path}{os.sep}N/'
audio_files_N = glob(N_path  + '*.wav')
Preprocess_N = f'{base_path}{os.sep}Preprocess_N/'
audio_files_N = glob(Preprocess_N  + '*.wav')

Mounted at /content/drive

In [ ]:
def RMS_feature(file_path):
    x,sample_rate = librosa.load(file_path, res_type='kaiser_best')
    RMS = librosa.feature.rms(y=x)
    return RMS

In [ ]:
featuresRMS = {}
features_RMS_test = []
directory2 = Preprocess_N
for audio in os.listdir(directory2):
    audio_path = directory2+audio
    featuresRMS[audio_path] = RMS_feature(audio_path)
    features_RMS_test.append(RMS_feature(audio_path))

In [ ]:
df_RMS_N = pd.DataFrame({'RMS' : features_RMS_test})
df_RMS_N.head(10)

                                                 RMS
0  [[4.758701e-06, 4.744279e-06, 3.857555e-06, 5....
1  [[7.441767e-06, 7.4253508e-06, 5.49517e-06, 5....
2  [[3.0034398e-06, 3.5200408e-06, 3.6803256e-05,...
3  [[0.00047873508, 0.00045537058, 0.00039016354,...
4  [[7.994391e-06, 0.00010499278, 0.0003581026, 0...
5  [[0.0009828197, 0.0009767263, 0.0006963049, 0....
6  [[6.7481333e-06, 6.729067e-06, 5.427575e-06, 6...
7  [[5.2304953e-05, 5.2128777e-05, 4.166585e-05, ...
8  [[3.2878597e-06, 3.2640305e-06, 2.3624686e-06,...
9  [[0.00024641881, 0.0002359932, 0.00023208902, ...

In [ ]:
RMS_means = []
for i in features_RMS_test:
  mean = np.mean(i,dtype=np.float64)
  RMS_means.append(mean)

df_RMS_means = pd.DataFrame({'Means' : RMS_means})
df_RMS_means

        Means
0    0.000051
1    0.000064
2    0.000075
3    0.000139
4    0.000154
..        ...
275  0.000111
276  0.000051
277  0.000128
278  0.000027
279  0.000108

[280 rows x 1 columns]

In [ ]:
RMS_std = []
for i in features_RMS_test:
  std = np.std(i)
  RMS_std.append(std)

df_RMS_std = pd.DataFrame({'Std' : RMS_std})
df_RMS_std

          Std
0    0.000099
1    0.000131
2    0.000138
3    0.000245
4    0.000261
..        ...
275  0.000244
276  0.000181
277  0.000242
278  0.000060
279  0.000274

[280 rows x 1 columns]

In [ ]:
RMS_max = []
for i in features_RMS_test:
  max = np.max(i)
  RMS_max.append(max)

df_RMS_max = pd.DataFrame({'Max' : RMS_max})
df_RMS_max

          Max
0    0.000797
1    0.000964
2    0.001474
3    0.001352
4    0.001228
..        ...
275  0.002087
276  0.002461
277  0.001609
278  0.000684
279  0.003691

[280 rows x 1 columns]

In [ ]:
RMS_min = []
for i in features_RMS_test:
  Min = np.min(i)
  RMS_min.append(Min)

df_RMS_min = pd.DataFrame({'Min' : RMS_min})
df_RMS_min

              Min
0    7.337630e-11
1    4.832892e-21
2    3.117979e-08
3    7.696455e-08
4    3.218497e-07
..            ...
275  2.088127e-07
276  8.648120e-08
277  5.929277e-08
278  2.519778e-21
279  7.777431e-08

[280 rows x 1 columns]

In [ ]:
RMS_Med = []
for i in features_RMS_test:
  Med = np.median(i)
  RMS_Med.append(Med)

df_med_rms = pd.DataFrame(RMS_Med, columns=['Med']) 
df_med_rms

          Med
0    0.000004
1    0.000011
2    0.000012
3    0.000032
4    0.000021
..        ...
275  0.000007
276  0.000009
277  0.000009
278  0.000004
279  0.000006

[280 rows x 1 columns]

In [ ]:
RMS_Var = []
for i in features_RMS_test:
  Var = np.var(i)
  RMS_Var.append(Var)

df_var_rms = pd.DataFrame(RMS_Var, columns=['Var'])

In [ ]:
from scipy.stats import skew
RMS_Skew = []
for i in features_RMS_test:
  Skew = skew(i, axis=0, bias=True)
  RMS_Skew.append(Skew)

In [ ]:
skew_means_RMS = []
for i in RMS_Skew:
  mean = np.mean(i)
  skew_means_RMS.append(mean)

In [ ]:
df_skew_rms = pd.DataFrame(skew_means_RMS, columns=['Skew'])

In [ ]:
RMS_Q1 = []
for i in features_RMS_test:
  Q1 = np.percentile(i, 25) 
  RMS_Q1.append(Q1)

In [ ]:
df_q1_rms = pd.DataFrame(RMS_Q1, columns=['Q1'])

In [ ]:
RMS_Q3 = []
for i in features_RMS_test:
  Q3 = np.percentile(i, 75) 
  RMS_Q3.append(Q3)

In [ ]:
df_q3_rms = pd.DataFrame(RMS_Q3, columns=['Q3'])

In [ ]:
RMS_IQR = []
IQR = np.array(RMS_Q3) - np.array(RMS_Q1)
RMS_IQR.append(IQR)

df_iqr = pd.DataFrame({'IQR' : RMS_IQR})
df_iqr = df_iqr.transpose()
df_iqr

                                                     0
IQR  [4.6195487840350324e-05, 6.963418275773847e-05...

In [ ]:
RMS_range = []
Range = np.array(RMS_max) - np.array(RMS_min)
RMS_range.append(Range)

In [ ]:
df_range = pd.DataFrame(RMS_range)
df_range = df_range.transpose()
df_range

            0
0    0.000797
1    0.000964
2    0.001474
3    0.001352
4    0.001227
..        ...
275  0.002086
276  0.002461
277  0.001609
278  0.000684
279  0.003691

[280 rows x 1 columns]

In [ ]:
from scipy.stats import kurtosis

In [ ]:
RMS_Kurt = []
for i in features_RMS_test:
  Kurt = kurtosis(i, axis=0, bias=True)
  RMS_Kurt.append(Kurt)

In [ ]:
kurt_means = []
for i in RMS_Kurt:
  mean = np.mean(i)
  kurt_means.append(mean)

In [ ]:
df_kurt = pd.DataFrame({'Kurt' : kurt_means})
df_kurt

     Kurt
0    -3.0
1    -3.0
2    -3.0
3    -3.0
4    -3.0
..    ...
275  -3.0
276  -3.0
277  -3.0
278  -3.0
279  -3.0

[280 rows x 1 columns]

In [ ]:
df_rms = pd.DataFrame()
df_rms['Mean_rms'] = df_RMS_means['Means']
df_rms['Std_rms'] = df_RMS_std['Std']
df_rms['Max_rms'] = df_RMS_max['Max']
df_rms['Min_rms'] = df_RMS_min['Min']
df_rms['Med_rms'] = df_med_rms['Med']
df_rms['Var_rms'] = df_var_rms['Var']
df_rms['Skew_rms'] = df_skew_rms['Skew']
df_rms['Q1_rms'] = df_q1_rms['Q1']
df_rms['Q3_rms'] = df_q3_rms['Q3']
df_rms['IQR_rms'] = df_iqr[0]
df_rms['MinMax_rms'] = df_range[0]
df_rms['Kurt_rms'] = df_kurt['Kurt']
df_rms

,Mean_rms,Std_rms,Max_rms,Min_rms,Med_rms,Var_rms,Skew_rms,Q1_rms,Q3_rms,IQR_rms,MinMax_rms,Kurt_rms
0,0.000051,0.000099,0.000797,7.337630e-11,0.000004,9.706618e-09,0.0,2.370316e-07,0.000046,NaN,0.000797,-3.0
1,0.000064,0.000131,0.000964,4.832892e-21,0.000011,1.703614e-08,0.0,4.008838e-07,0.000070,NaN,0.000964,-3.0
2,0.000075,0.000138,0.001474,3.117979e-08,0.000012,1.903013e-08,0.0,2.238106e-06,0.000106,NaN,0.001474,-3.0
3,0.000139,0.000245,0.001352,7.696455e-08,0.000032,6.018258e-08,0.0,3.253271e-06,0.000146,NaN,0.001352,-3.0
4,0.000154,0.000261,0.001228,3.218497e-07,0.000021,6.833566e-08,0.0,7.804221e-07,0.000160,NaN,0.001227,-3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
275,0.000111,0.000244,0.002087,2.088127e-07,0.000007,5.959081e-08,0.0,1.048795e-06,0.000079,NaN,0.002086,-3.0
276,0.000051,0.000181,0.002461,8.648120e-08,0.000009,3.259320e-08,0.0,7.230065e-07,0.000044,NaN,0.002461,-3.0
277,0.000128,0.000242,0.001609,5.929277e-08,0.000009,5.874839e-08,0.0,3.350411e-07,0.000099,NaN,0.001609,-3.0
278,0.000027,0.000060,0.000684,2.519778e-21,0.000004,3.607982e-09,0.0,8.641960e-08,0.000030,NaN,0.000684,-3.0
279,0.000108,0.000274,0.003691,7.777431e-08,0.000006,7.513098e-08,0.0,4.134985e-07,0.000114,NaN,0.003691,-3.0

In [ ]:
df_rms.to_csv("RMS_Feature Extraction_N.csv")